.receipt {
    width: 100%;
    height: 70vh;
    border-radius: 5px;
    background: #EEE;
}

.feed-receipt {
<<<<<<< HEAD
  width: 80%;
  height: 35vh;
  border-radius: 5px;
  background-color: #F5F5F5;
=======
    width: 100%;
    height: 25vh;
    border-radius: 5px;
    background: #EEE;
>>>>>>> c62e5b92d9954bfeb8a5375a9498b1db5d1f3d0e
}

.receipt-message {
    color: #202632;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5px; 
}

form input {
    display: flex;
    padding: 10px 0px 10px 26px;
    margin-bottom: 3%;
    border-radius: 10px;
    background: #FFF;
}


form button {
    display: flex;
}

/* 비공개 버튼 토글 */
.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
  }
  
  .switch:checked {
    background-color: #0049F2;
  }
  
  .switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
  }
  
  .switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
  }
  
  .switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(32, 151, 243, .15)
  }
  
  .switch:checked:before {
    transform: translateX(100%);
    border-color: #0049F2;
  }